body{
    background-image: url(../images/いらすとやBG_EX.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    color: white;
    text-align: center;
    background-color: black;
}

h3{
    color: white;
    text-align:center;
    background-color: darkgreen;
}

table{
    background-color: limegreen;
}

ol{
    background-image: url(../images/いらすとやBG_EX2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}